<div>
	<h2><%= @user.family_name %><%= @user.first_name %>の編集画面</h2>
    <%= form_for(@user, url: users_user_path(@user.id)) do |f| %>

    <div class="field">
        <%= f.label :family_name, "姓" %><br />
        <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
    </div>
      <!-- autofocus: trueは自動フォーカスを指定 -->
      <!-- autocomplete:は候補の単語を表示 -->

    <div class="field">
        <%= f.label :first_name, "名" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>

    <div class="field">
        <%= f.label :family_name_kana, "セイ" %><br />
        <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
    </div>

    <div class="field">
        <%= f.label :first_name_kana, "メイ" %><br />
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>

    <div class="field">
        <%= f.label :telephone_number, "電話番号" %><br />
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    </div>

    <div class="field">
        <%= f.label :postal_code, "郵便番号" %><br />
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </div>

    <div class="field">
        <%= f.label :address, "住所" %><br />
        <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :introduction, "自己紹介" %><br />
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
    </div>

    <div class="actions">
        <%= f.submit "更新" %>
        <%= link_to '戻る', users_user_path(@user.id) %>
    </div>
    <% end %>
</div>