<% if current_user.id != @user.id %>
<h1><%= @user.name%></h1>
<% else %>
<h1>マイページ</h1>
<% end %>
<div>
 <ul id="tab-menu" class="clearfix">
	<li style="float: left;"><a href="#tab1" class="active">チェックリスト</a></li>
	<li style="float: left;"><a href="#tab2">ユーザー情報</a></li>
	<li style="float: left;"><a href="#tab3">フォローリスト</a></li>
	<% if current_user.id == @user.id %>
		<li style="float: left;"><a href="#tab4">保存リスト</a></li>
	<% end %>
 </ul>
 

 <div id="tab-contents" class="clearfix">
	<div id="tab1" class="tab">
	 <h2><%= @user.name %>のお気に入りリスト</h2>
	 <%= search_form_for(@q, url: users_user_path(@user.id)) do |f| %>
  	<%= f.label :name_or_address, "名前、住所で検索" %>
  	<%= f.search_field :name_or_address_cont %>
  	<%= f.submit "検索" %>
	 <% end %>
	 <%= link_to '新規追加', new_users_restaurant_path %>

	 <% @user.favorites.each do |favorite| %>
		<div>
			<h3><%= link_to favorite.restaurant.name, users_restaurant_path(favorite.restaurant.id) %></h3>
			<%= attachment_image_tag favorite.restaurant, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
			<table>
			 <tbody>
				<tr>
					<td>最寄り駅：</td>
					<td><%= favorite.restaurant.station.name %></td>
					<td>予算：</td>
					<td>￥<%= favorite.restaurant.budget %></td>
				</tr>
				<tr>
					<td>ジャンル：</td>
					<td><%= favorite.restaurant.genre.name %></td>
				</tr>
			 </tbody>
			</table>
			<table>
			 <tbody>
				<tr>
					<td>この商品のお気に入り数：<%= favorite.restaurant.favorites.count %></td>
				</tr>
				<tr>
					<td>
						この商品を保存した人たち：<%= favorite.restaurant.stocks.count %>
					</td>
				</tr>
			 	</tbody>
			</table>
			<%= link_to "この店の詳細へ", users_restaurant_path(favorite.restaurant.id) %>
		</div>
	<% end %>
	</div>
	

	<div id="tab2" class="tab">
	 <h2>ユーザー情報</h2>
	 <div>
		<table>
			<tbody>
				<tr>
					<th>名</th>
					<td><%= @user.name %></td>
				</tr>
			</tbody>
		</table>
	 </div>
	 <% if current_user.id == @user.id %>
	 <div>
		<dt>E-mail：</dt>
		<dd><%= @user.email %></dd>
	 </div>
	 <% end %>

	 <div>
		<%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
		<div>
			<dt>自己紹介：</dt>
			<dd><%= @user.introduction %></dd>
		</div>
	 </div>

	 <div>
	 	<% if current_user.id == @user.id %>
		 <%= link_to 'ユーザー編集', edit_users_user_path(@user.id), class: "btn btn-success col-md-1" %>
		<% end %>
		<% unless current_user.id == @user.id %>
		 <% if current_user.following?(@user) %>
    		<%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }, url: users_relationship_path(@user)) do |f| %>
    		<!-- 下記はfollow_idのユーザーidを取り出したいが、user.idで出来ないため、@idを定義して指定した。 -->
			 <%= hidden_field_tag :follow_id, @id %>
    		 <%= f.submit 'フォローを解除', class: 'btn btn-danger btn-block' %>
    		<% end %>
		 <% else %>
    		<%= form_for(current_user.relationships.build, url: users_relationships_path) do |f| %>
    		 <%= hidden_field_tag :follow_id, @user.id %>
    		 <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
    		 <!-- submitは二重送信を禁止している。 -->
    		<% end %>
		 <% end %>
		<% end %>
	 </div>
	</div>


	<div id="tab3" class="tab">
		<h2><%= @user.name %>のフォローリスト</h2>
		<% @followers.each do |follower| %>
			<div class="clearfix">
			 <div style="float: left;">
				<%= attachment_image_tag follower, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
			 </div>
	 		 <div style="float: left;">
				<p><%= link_to follower.name, users_user_path(follower) %></p>
				<p><%= follower.introduction %></p>
				<p>tag.name</p>
				<% unless current_user.id == follower.id %>
				 <% if current_user.following?(follower) %>
					<%= form_for(follower, html: { method: :delete }, url: users_relationship_path(follower)) do |f| %>
					 <%= hidden_field_tag :follow_id, follower.id %>
    				 <%= f.submit 'フォローを解除', class: 'btn btn-danger btn-block' %>
    				<% end %>
				 <% end %>
				<% end %>
			 </div>
			</div>
		<% end %>
	</div>

	<div id="tab4" class="tab">
		<h2>あなたの保存済みリスト</h2>
		<%= search_form_for(@q, url: users_user_path(@user.id)) do |f| %>
  		<%= f.label :name_or_address, "名前、住所で検索" %>
  		<%= f.search_field :name_or_address_cont %>
  		<%= f.submit "検索" %>
	 	<% end %>
		<% @user.stocks.each do |stock| %>
		 <div>
			<h3><%= link_to stock.restaurant.name, users_restaurant_path(stock.restaurant.id) %></h3>
			<%= attachment_image_tag stock.restaurant, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
			<table>
			 <tbody>
				<tr>
					<td>最寄り駅：</td>
					<td><%= stock.restaurant.station.name %></td>
					<td>予算：</td>
					<td>￥<%= stock.restaurant.budget %></td>
				</tr>
				<tr>
					<td>ジャンル：</td>
					<td><%= stock.restaurant.genre.name %></td>
				</tr>
			 </tbody>
			</table>
			<table>
			 <tbody>
				<tr>
					<td>この商品のお気に入り数：<%= stock.restaurant.favorites.count %></td>
				</tr>
				<tr>
					<td>
						この商品をストックした人たち：<%= stock.restaurant.stocks.count %>
					</td>
				</tr>
			 	</tbody>
			</table>
			<%= link_to "この店の詳細へ", users_restaurant_path(stock.restaurant.id) %>
		 </div>
		<% end %>
	</div>
 </div>
</div>