<div class="container min-height">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="background-color: orange;">
      <h2>新規アカウント登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :family_name, "姓" %><br />
        <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
      </div>
      <!-- autofocus: trueは自動フォーカスを指定 -->
      <!-- autocomplete:は候補の単語を表示 -->

      <div class="field">
        <%= f.label :first_name, "名" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>

      <div class="field">
        <%= f.label :family_name_kana, "セイ" %><br />
        <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
      </div>

      <div class="field">
        <%= f.label :first_name_kana, "メイ" %><br />
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>