<div class="container min-height">
	<div class="row">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-8" style="background-color: orange;">
    		<h1><%= @restaurant.name %>の編集画面</h1>

			<%= form_for(@restaurant, url: users_restaurant_path(@restaurant.id)) do |f| %>
            <!-- URLによって紐づいたアクションを呼び出す。この場合はupdateアクションを呼び出している。 -->

				<div>
					<%= f.label :name, "店名" %><br />
					<%= f.text_field :name, autofocus: true, require: true %>
				</div>

				<div>
        			<%= f.label :genre_id, "ジャンル" %><br />
        			<%= f.collection_select :genre_id, Genre.all, :id,:name %>
        		</div>

        		<div>
					<%= f.label :menu, "メニュー" %><br />
					<%= f.text_field :menu, autofocus: true, autocomplete: "メニュー" %>
				</div>

        		<div>
        			<%= f.label :budget, "予算" %><br />
    				<%= f.number_field :budget, autofocus: true %>
    			</div>

    			<div>
        			<%= f.label :postal_code, "郵便番号" %><br />
    				<%= f.text_field :postal_code, autofocus: true %>
    			</div>

    			<div>
        			<%= f.label :address, "住所" %><br />
        			<%= f.text_area :address, autofocus: true %>
        		</div>

        		<div>
        			<%= f.label :station_id, "最寄り駅" %><br />
        			<%= f.collection_select :station_id, Station.all, :id, :name %>
        		</div>

                <div class="field">
                    <%= f.label :image, "店の画像" %><br />
                    <%= f.attachment_field :image %>
                    <%= attachment_image_tag @restaurant, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
                </div>

        		<div>
        			<%= f.submit "更新" %>
                    <%= link_to "削除", users_restaurant_path(@restaurant.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        		</div>
			<% end %>
    	</div>
	</div>
</div>