<% if user_signed_in? %>
	<p>ログイン中...</p>
<% else %>
	<p>ログインしてない</p>
<% end %>

<h1>あなたの知らないお気に入りを探しに行こう。</h1>

<div class="">
	<h2>東京の人気エリア</h2>
	<div>
		<!-- 駅名＋絞込、テーブル等で横並び -->
		<table>
			<tbody>
				<% @stations.each do |station| %>
					<td><%= link_to station.name, users_station_path(station.id) %></td>
				<% end %>
			</tbody>
		</table>
	</div>
	<h2>全国の人気エリア</h2>
	<div>
		<!-- 駅名＋絞込、テーブル等で横並び -->
		<table>
			<tbody>
				<% @stations.each do |station| %>
					<td><%= station.name %></td>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= search_form_for(@q, url: root_path) do |f| %>
  <%= f.label :name_or_address_or_station_id, "キーワード検索" %>
  <%= f.search_field :name_or_address_or_station_id_cont %>

  <%= f.submit "検索" %>
<% end %>

<div>
	<%= link_to '新規', new_users_restaurant_path %>
	<h2>the best お気に入りトップ10</h2>
	<% @restaurants.each do |restaurant| %>
		<div>
			<h3>rank, <%= link_to restaurant.name, users_restaurant_path(restaurant.id) %></h3>
			<%= attachment_image_tag restaurant, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
			<table>
			<tr>
				<td>最寄り駅：</td>
				<td><%= restaurant.station.name %></td>
				<td>予算：</td>
				<td>￥<%= restaurant.budget %></td>
			</tr>
			<tr>
				<td>ジャンル：</td>
				<td><%= restaurant.genre.name %></td>
			</tr>
			</table>
			<div class="clearfix">
				<p style="float: left;">タグ：</p>
				<p style="border: solid 1px; float: left;">ラーメン</p>
				<p style="border: solid 1px; float: left;">ラーメン</p>
				<p style="border: solid 1px; float: left;">ラーメン</p>
			</div>
			<p>〒<%= restaurant.postal_code %> <%= restaurant.address %></p>
			<table>
			 <tbody>
				<tr>
					<td>この商品のお気に入り数：<%= restaurant.favorites.count %></td>
				</tr>
				<tr>
					<td>
						この商品をストックした人たち：<%= restaurant.stocks.count %>
					</td>
				</tr>
				<tr>
					<td>
						<% if @stock.present? %>
						 <%= link_to "ストックの解除", users_stock_path(@stock), :method => :delete %>
						<% else %>
						 <%= link_to "ストックリストに追加", users_stocks_path(restaurant_id: restaurant.id ), :method => :post %>
						<% end %>
					</td>
				</tr>
			 	</tbody>
			</table>
		</div>
	<% end %>
</div>

