<% if user_signed_in? %>
	<p>ログイン中...</p>
<% else %>
	<p>ログインしてない</p>
<% end %>

<h1>あなたの知らないお気に入りを探しに行こう。</h1>

<div class="">
	<h2>東京の人気エリア</h2>
	<div>
		<!-- 駅名＋絞込、テーブル等で横並び -->
		<table>
			<tbody>
				<% @stations.each do |station| %>
					<td><%= link_to station.name, users_station_path(station.id) %></td>
				<% end %>
			</tbody>
		</table>
	</div>
	<h2>全国の人気エリア</h2>
	<div>
		<!-- 駅名＋絞込、テーブル等で横並び -->
		<table>
			<tbody>
				<% @stations.each do |station| %>
					<td><%= station.name %></td>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div>
	<%= link_to '新規', new_users_restaurant_path %>
	<h2>the best お気に入りトップ10</h2>
	<% @restaurants.each do |restaurant| %>
	<div>
		<h3>rank, <%= link_to restaurant.name, users_restaurant_path(restaurant.id) %></h3>
		<table>
		<tr>
			<td>最寄り駅：</td>
			<td><%= restaurant.station.name %></td>
			<td>予算：</td>
			<td>￥<%= restaurant.budget %></td>
		</tr>
		<tr>
			<td>ジャンル：</td>
			<td><%= restaurant.genre.name %></td>
		</table>
		<div class="clearfix">
			<p style="float: left;">タグ：</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
		</div>
		<p>〒<%= restaurant.postal_code %> <%= restaurant.address %></p>
		<img src="">
	</div>
	<% end %>
</div>

<div>

	<!-- フォロー機能追加してから -->
	<h2>注目のユーザー</h2>
	<% @users.each do |user| %>
	<div class="clearfix">
	 <div style="float: left;">
		<%= attachment_image_tag user, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
	 </div>
	 <div style="float: left;">
		<p><%= link_to user.name, users_user_path(user.id) %></p>
		<p><%= user.introduction %></p>
		<p>tag.name</p>
		<button>フォローする</button>
	 </div>
	</div>
	<% end %>
</div>