<div>
	<h1><%= @restaurant.name %></h1>
	<div>
		<table>
		<tr>
			<td>ジャンル：</td>
			<td><%= @restaurant.genre.name %></td>
		</tr>
		<tr>
			<td>最寄り駅：</td>
			<td><%= link_to @restaurant.station.name, users_station_path(@restaurant.station.id) %></td>
		</tr>
		<tr>
			<td>予算：</td>
			<td>￥<%= @restaurant.budget %></td>
		</tr>
		</table>
		<div class="clearfix">
			<p style="float: left;">タグ：</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
		</div>
		<p>〒<%= @restaurant.postal_code %> <%= @restaurant.address %></p>
		<img src="">

		<%= link_to '編集', edit_users_restaurant_path(@restaurant.id) %>
		<%= link_to 'トップ画面へ戻る', root_path %>
</div>
		
<div>
<div id="map"></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
function initMap() {
 
  var target = document.getElementById('map'); //マップを表示する要素を指定
  var address ='<%= @restaurant.address %>'; //住所を指定
  var geocoder = new google.maps.Geocoder();  

  geocoder.geocode({ address: address }, function(results, status){
    if (status === 'OK' && results[0]){

      console.log(results[0].geometry.location);

       var map = new google.maps.Map(target, {  
         center: results[0].geometry.location,
         zoom: 18
       });

       //ピン止め
       var marker = new google.maps.Marker({
         position: results[0].geometry.location,
         map: map,
         animation: google.maps.Animation.DROP
       });

    }else{ 
      //住所が存在しない場合の処理
      alert('住所が正しくないか存在しません。');
      target.style.display='none';
    }
  });
}
</script>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKo2dKiuRl-Jz67szLgRlRZFpGJOugF7g&callback=initMap" async defer></script>