<div>
	<h1><%= @restaurant.name %></h1>
	<div>
		<table>
		<tr>
			<td>ジャンル：</td>
			<td><%= @restaurant.genre %></td>
		</tr>
		<tr>
			<td>最寄り駅：</td>
			<td><%= @restaurant.station %></td>
		</tr>
		<tr>
			<td>予算：</td>
			<td><%= @restaurant.budget %></td>
		</tr>
		</table>
		<div class="clearfix">
			<p style="float: left;">タグ：</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
			<p style="border: solid 1px; float: left;">ラーメン</p>
		</div>
		<p><%= @restaurant.postal_code %> <%= @restaurant.address %></p>
		<img src="">

		<%= link_to '編集', edit_users_restaurant_path(@restaurant.id) %>
		<%= link_to 'トップ画面へ戻る', root_path %>
</div>
		
<div>
<div id="map"></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
  let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意

  function initMap(){
  	let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKo2dKiuRl-Jz67szLgRlRZFpGJOugF7g&callback=initMap" async defer></script>
	</div>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api&/js?key=AIzaSyAKo2dKiuRl-Jz67szLgRlRZFpGJOugF7g&callback=initMap" async defer></script> -->